{% extends "cenecuAdmin/base.html" %}
{% load static %}
{% block titulo %} Crear profesor {% endblock %}
{% block contenido %}
<!-- Permite la creacion de un nuevo perfil de profesor -->
<div class="card">
  <h2> Crea un nuevo profesor </h2>
  
  <!-- Campos del perfil de un profesor -->
  <div class="card-body">
    <div class="form-validation">
      <form class="form-valide" action="{% url 'nuevoProfesor' %}"
          method="post"> {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="nombreProfesor">
            Nombre<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="nombreProfesor" 
              name="nombreProfesor" 
              placeholder="Ingrese el nombre del profesor" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="apellidoProfesor">
            Apellido<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="apellidoProfesor" 
              name="apellidoProfesor" 
              placeholder="Ingrese el apellido del profesor" required>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="titulo">
            Título<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="titulo" 
              name="titulo" placeholder="Ingrese el título" required>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="imgPerfil">
            Foto<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="imgPerfil" 
              name="imgPerfil" placeholder="Ingrese el url de una foto" required>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="frasePersonal">
            Frase Personal<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <textarea type="text" class="form-control" id="frasePersonal" 
              name="frasePersonal"
              placeholder="Ingrese la frase personal" required></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="descripcion">
            Descripción<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <textarea type="text" class="form-control" id="descripcion" 
              name="descripcion"
              placeholder="Ingrese la descripción del profesor" 
              required></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="areaEspecializacion">
            Área de Especialización<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <select class="form-control" id="areaEspecializacion" 
              name="areaEspecializacion">
              {% for area in areas %}                          
                <option value="{{ area.pk }}"> {{ area.nombre }} </option>
              {% endfor %}
            </select>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="urlLinkedin">
            LinkedIn<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <textarea type="text" class="form-control" id="urlLinkedin" 
              name="urlLinkedin"
              placeholder="Ingrese el url del perfil de Linkedin"
              required></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="urlCurriculum">
            Currículum<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <textarea type="text" class="form-control" id="urlCurriculum" 
              name="urlCurriculum" 
              placeholder="Ingrese el url del currículum" required></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="estado">
            Estado<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <select class="form-control" id="estado" name="estado">
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
        </div>
        
        <!-- Boton para agregar un nuevo perfil de profesor -->
        <div class="form-group row">
          <div class="col-lg-8 ml-auto">
            <button type="submit" class="btn btn-primary">Crear</button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock %}