{% extends "cenecuAdmin/base.html" %}
{% load static %}
{% block titulo %} Editar profesor {% endblock %}
{% block contenido %}
<!-- Permite la edicion del perfil de un profesor -->
<div class="card">
  <h2>  Editar profesor </h2>
  
  <!-- Campos del perfil de un profesor -->
  <div class="card-body">
    <div class="form-validation">
      <form class="form-valide" action="{% url 'modificarProfesor' %}" 
        method="POST"> {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="nombreProfesor">
            Nombre<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="nombreProfesor" 
              name="nombreProfesor" value="{{ nombre }}" required>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="apellidoProfesor">
            Apellido<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="apellidoProfesor" 
              name="apellidoProfesor" value="{{ apellido }}" required>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="titulo">
            Título<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="titulo" name="titulo" 
              value="{{ titulo }}" required>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="imgPerfil">
            Foto<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="imgPerfil" 
              name="imgPerfil" value="{{ imgPerfil }}" required>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="frasePersonal">
            Frase Personal<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <textarea type="text" class="form-control" id="frasePersonal" 
              name="frasePersonal" required>{{ frasePersonal }}</textarea>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="descripcion">
            Descripción<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <textarea type="text" class="form-control" id="descripcion" 
              name="descripcion" required>{{ descripcion }}</textarea>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="areaEspecializacion">
            Área de Especialización<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <select class="form-control" id="areaEspecializacion" 
              name="areaEspecializacion">
              {% for area in areas %}                          
                <option value="">{{ area.nombre }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="urlLinkedin">
            LinkedIn<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <textarea type="text" class="form-control" id="urlLinkedin" 
              name="urlLinkedin" required>{{ urlLinkedin }}</textarea>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="urlCurriculum">
            Currículum<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <textarea type="text" class="form-control" id="urlCurriculum" 
              name="urlCurriculum" required>{{ urlCurriculum }}</textarea>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="estado">
            Estado<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="estado" name="estado" 
              value="{{estado}}">
            <input type="hidden" name="idprofesor" id="idprofesor" 
              value="{{ idprofesor }}">
          </div>
        </div>
        
        <!-- Boton para guardar la informacion editada -->
        <div class="form-group row">
          <div class="col-lg-8 ml-auto">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}