{% extends "cenecuAdmin/base.html" %}
{% load static %}
{% block titulo %} Editar curso {% endblock %}
{% block contenido %}
	<div class="card">
		<h2>  Editar curso </h2>
		<div class="card-body">
			<div class="form-validation">
                                    <form class="form-valide" action="{% url 'modificarCurso' %}" method="POST"> {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="nombreCurso">Nombre<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="nombreCurso" name="nombreCurso" value="{{nombre}}"  required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="descripcion">Descripción<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{descripcion}}"  required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="pensum">Pénsum<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="pensum" name="pensum" value="{{urlPensum}}"   required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="duracion">Duración<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                            <input type="text" class="form-control" id="duracion" name="duracion" value="{{duracion}}"  required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="horarios">Horarios<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="horarios" name="horarios" value="{{horario}}"  required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="costo">Costo<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="costo" name="costo" value="{{costo}}"  required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="profesor">Profesor<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="profesor" name="profesor">
                                                	{% for profesor in profesores %}                          
                                                    	<option value=""> {{profesor.nombre}} {{profesor.apellido}} </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="imgCurso">Imagen<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                            <input type="text" class="form-control" id="imgCurso" name="imgCurso" value="{{imgCurso}}"  required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="estado">Estado<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                            <input type="text" class="form-control" id="estado" name="estado" value="{{estado}}">
                                            <input type="hidden" name="idcurso" id="idcurso" value="{{idcurso}}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>


{% endblock %}